<div class="Product">
  <section class="Section Section--spacingSamll">
    <div class="Grid Product__Description_Grid">
      <div class="Product__Description_1 Grid__Cell">
        {%- comment -%}
        --------------------------------------------------------------------------------------------------------------------
        PRODUCT TABS
        --------------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- render 'product-tabs' -%}
      </div>
      <div class="Product__Description_2 Grid__Cell">
        {%- comment -%}
        --------------------------------------------------------------------------------------------------------------------
        PRODUCT TABS
        --------------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- render 'product-tabs-2' -%}
      </div>

    </div>
  </section>
</div>
